<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4f3c245195.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 hide" style="display:none">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Naruto</h3>
          <section class="left">
          <ul class="HotTakes">
          <% for(var i=0; i<HotTakes.length; i++) {%>
            <li class="message">
              <span><%= HotTakes[i].comment %></span>
              
              <span><%= HotTakes[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              
              <span><i  id="<%= HotTakes[i]._id %>" class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Hot Take</h2>
        <% if (user.local.email) { %>
          <form action="/HotTakes" method="POST">
            <input type="hidden" value="naruto" name="show">
            <input type="text" value="<%= user.local.email %>" name="name" style="display:none">
            <input type="text" placeholder="Hot Take" name="comment">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
      </section>

      <div class="col-sm-6">
        <h3>Dragonball Z/Super</h3>
        <section class="right">
          <ul class="HotTakes2">
            <% for(var i=0; i<HotTakes2.length; i++) { %>
            <li class="message">
              <span><%= HotTakes2[i].comment %></span>
              <span><%= HotTakes2[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i id="<%= HotTakes2[i]._id %>" class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
          </ul>
          <h2>Hot Take</h2>
          <% if (user.local.email) { %>
          <form action="/HotTakes2" method="POST">
            <input type="hidden" value="dragonball" name="show">
            <input type="text" value="<%= user.local.email %>" name="name" style="display:none">
            <input type="text" placeholder="Hot Take" name="comment">
            <button type="submit">Submit</button>
          </form>
          <% } %>
        </section>
      </div>
      
        

</div>

<script src="main.js"></script>

</body>
</html>
